@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

.placeholder-color{
    color: #e0e0e0;
    font-weight: 300;
}